@use "colors.scss" as *;
@use "./common.scss";
@use "./lib/mixins.scss" as *;
@use "./lib/classes.scss";
@use "./lib/paddings.scss";
@use "./Bar.scss";
@use "./notification.scss";
@use "./osd.scss";
@use "./powermenu.scss";
@use "./dashboard.scss";
@use "./quicksettings.scss";
@use "./wallpaperpicker.scss";
@use "./applauncher.scss";
@use "./mediaPlayer.scss";
@use "./terminal.scss";
@use "roundedcorners.scss";
@use "./components.scss";

* {
  @include readingfont;
}

scale {
  * {
    @include rounded-full;
  }

  $width: 0.3em;

  trough {
    min-height: $width;
    min-width: $width;
    background-color: $inverse_surface_transparent;

    highlight,
    progress {
      background-color: $primary;
      min-height: $width;
      min-width: $width;
    }
  }

  slider {
    background-color: $on_surface;
    min-height: 12px;
    min-width: 12px;
    margin: -6px;
  }
}

/* Popover */
popover.tray-menu {
  // background: #1e1e2e;
  // border-radius: 8px;
  // padding: 6px;
  margin-top: 1rem;
}

/* model buttons */
popover.tray-menu modelbutton {
  color: $on_surface;
  font-size: 13px;
  padding: 2px 12px;
  border-radius: 12px;
}

/* Hover effect */
popover.tray-menu modelbutton:hover {
  background: $primary;
  color: $on_primary;
}

/* Optional: separators inside menus */
popover.tray-menu separator {
  margin: 8px 0;
  background: $surface;
}
