@use "../colors.scss" as *;

switch {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 15px;
  background-color: $inverse_surface_transparent;
  transition: background-color 0.2s ease-in-out;

  slider {
    box-shadow: none;
    border-radius: 100px;
    background-color: $on_surface;
    transition: background-color 0.2s ease-in-out;
  }

  &:active slider,
  &:hover slider {
    background-color: $on_surface_variant;
  }

  &:active {
    background-color: $on_surface_variant;
  }

  &:checked {
    background-color: $primary;
  }

  &:checked slider {
    background-color: $on_primary;
  }
}
